@charset "UTF-8";

:root{
    --verde: #49a09d;
    --lil치s: #5f2c82;
}
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html{
    background-color: var(--lil치s);
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.637);
    transition: width 0.4s, height 0.4s;
    transition-timing-function: ease;
}
section#login > div#imagem{
    background-size: cover;
    background-color: var(--lil치s);
    background-image: url(../imagens/pattern.jpg);
    height: 150px;
    display: block;
}
section#login > div#formulario{
    padding: 10px;
    display: block;
}
section#login > div#formulario > h1{
    text-align: center;
    padding-bottom: 10px;
}
section#login > div#formulario > p{
    text-align: center;
}
form > div.campo{
    background-color: var(--lil치s);
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}
form label{
    display: none;
}
form > input[type=submit], form > input[type=button]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--verde);
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
}
form > input[type=submit]:hover, form > input[type=button]:hover{
    border: 1px solid white;
    background-color: #3b8a87;
    transition-duration: 0.01s;
}
